<!--
  Copyright 2018 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>
<group>
  <param name="/use_sim_time" value="true" />
  <env name="ROS_MASTER_URI" value="http://localhost:11611"/>

   <param name="robot_description"
      textfile="$(find cartographer_ros)/urdf/backpack_2d.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

<!--   <node name="cartographer_grpc_server2" pkg="cartographer_ros" -->
<!--       type="cartographer_grpc_server.sh" args=" -->
<!--           -configuration_directory $(find cartographer_ros)/configuration_files -->
<!--           -configuration_basename backpack_2d_server2.lua"> -->
<!--   </node> -->

  <node name="cartographer_grpc_decentralized_node2" pkg="cartographer_ros"
      type="cartographer_grpc_decentralized_node" args="
	      -client_id CLIENT_ID
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename backpack_2d.lua
          -server_address 0.0.0.0:50052"
      output="screen">
  </node>

  <node name="rviz2" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />

   </group>

</launch>